# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../../../../../:\Users\Hårddisken\IdeaProjects\Nackademin\Kursuppgifter\Objektorienterad programmering och Java\Inlämningsuppgifter\Inlämningsuppgift 3\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
